.con {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  background-color: #30a2ff;
  width: 100%;
}
.griditems {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  gap: 5px;
}

.ico {
  font-size: 18px;
  color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.step2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 850px) {
  .griditems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    gap: 5px;
  }
}
